on:
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Cargo.*'
      - '.rustfmt.toml'
      - '.github/workflows/ci.yaml'
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - 'Cargo.*'
      - '.rustfmt.toml'
      - '.github/workflows/ci.yaml'

name: Rust CI

jobs:
  lint:
    name: Check formatting and run clippy
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@v6
      - name: Cache tools
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, llvm-tools
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Run clippy
        run: cargo clippy --all -- -D warnings

  coverage:
    name: Run tests with coverage
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@v6
      - name: Cache tools
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, llvm-tools
      - name: Run unit tests
        run: cargo test
        env:
          RUSTFLAGS: '-Cinstrument-coverage'
          LLVM_PROFILE_FILE: 'target/coverage/%p-%m.profraw'
      - name: Generate coverage report
        uses: ./
        with:
          summary: 'true'
          out: ./target/coverage.md
      - name: Add coverage comment to the pull request
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]' 
        with:
          hide_and_recreate: true
          hide_classify: "OUTDATED"
          path: ./target/coverage.md
